In [1]:
import os
import torch
th = torch
import numpy as np
import pandas as pd

# Prepare data

In [3]:
import pandas as pd
FILEPATH = '/Users/Shared/tweets.csv'
df1 = pd.read_csv(FILEPATH)
df1

,Unnamed: 0,Link,Text,Date,Likes,Comment
0,0,https://twitter.com/elonmusk/status/1778881361...,Supervised full self-driving now $99/month,"Apr 12, 2024 · 8:22 PM UTC",55501,7981
1,1,https://twitter.com/elonmusk/status/1779535730...,NaN,"Apr 14, 2024 · 3:42 PM UTC",212175,6536
2,2,https://twitter.com/elonmusk/status/1779480889...,🤔,"Apr 14, 2024 · 12:04 PM UTC",307993,15783
3,3,https://twitter.com/elonmusk/status/1779435508...,The refreshing breeze of the Overton window op...,"Apr 14, 2024 · 9:04 AM UTC",68232,4452
4,4,https://twitter.com/elonmusk/status/1779422441...,NaN,"Apr 14, 2024 · 8:12 AM UTC",121904,5636
...,...,...,...,...,...,...
95,95,https://twitter.com/elonmusk/status/1777100344...,Using a VPN is very easy,"Apr 7, 2024 · 10:25 PM UTC",161635,8206
96,96,https://twitter.com/SpaceX/status/177709821367...,T-1 hour until Falcon 9’s launch of the Bandwa...,"Apr 7, 2024 · 10:16 PM UTC",14059,792
97,97,https://twitter.com/elonmusk/status/1777089879...,To ensure that you can still access the 𝕏 plat...,"Apr 7, 2024 · 9:43 PM UTC",185577,15515
98,98,https://twitter.com/elonmusk/status/1777080103...,These are the most draconian demands of any co...,"Apr 7, 2024 · 9:04 PM UTC",139731,6988
99,99,https://twitter.com/elonmusk/status/1777011744...,Well said,"Apr 7, 2024 · 4:33 PM UTC",126342,6067

In [4]:
import pandas as pd
import numpy as np

# Generate random data for df1 (daily data)
import yfinance as yf
from datetime import datetime

# Define the start and end dates
start = datetime(2020, 1, 1)
end = datetime(2024, 4, 15)

# Convert datetime to date (if necessary, though yfinance can handle datetime objects)
start_date = start.date()
end_date = end.date()

# Download the stock data
df2 = yf.download('TSLA', start=start_date, end=end_date)

# Display the DataFrame



# Define the start and end dates
start = datetime(2020, 1, 1)
end = datetime(2024, 4, 15)

# Convert datetime to date (if necessary, though yfinance can handle datetime objects)
start_date = start.date()
end_date = end.date()

# Download the stock data
df3 = yf.download('NDAQ', start=start_date, end=end_date)

# Display the DataFrame



merged_df = pd.merge(df2, df3, how='left', left_index=True, right_on='Date');
merged_df

merge_df2 = merged_df[['Close_x', 'Close_y']]
merge_df2

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

               Close_x    Close_y
Date
2020-01-02   28.684000  35.939999
2020-01-03   29.534000  36.093334
2020-01-06   30.102667  36.070000
2020-01-07   31.270666  35.473331
2020-01-08   32.809334  35.276669
...                ...        ...
2024-04-08  172.979996  62.139999
2024-04-09  176.880005  63.560001
2024-04-10  171.759995  63.009998
2024-04-11  174.600006  63.060001
2024-04-12  171.050003  61.520000

[1077 rows x 2 columns]

In [5]:
print(df1.columns)
df1.columns = df1.columns.str.strip()
tweets = df1[['Text', 'Date']]
tweets

Index(['Unnamed: 0', 'Link', 'Text', 'Date', 'Likes', 'Comment'], dtype='object')

,Text,Date
0,Supervised full self-driving now $99/month,"Apr 12, 2024 · 8:22 PM UTC"
1,NaN,"Apr 14, 2024 · 3:42 PM UTC"
2,🤔,"Apr 14, 2024 · 12:04 PM UTC"
3,The refreshing breeze of the Overton window op...,"Apr 14, 2024 · 9:04 AM UTC"
4,NaN,"Apr 14, 2024 · 8:12 AM UTC"
...,...,...
95,Using a VPN is very easy,"Apr 7, 2024 · 10:25 PM UTC"
96,T-1 hour until Falcon 9’s launch of the Bandwa...,"Apr 7, 2024 · 10:16 PM UTC"
97,To ensure that you can still access the 𝕏 plat...,"Apr 7, 2024 · 9:43 PM UTC"
98,These are the most draconian demands of any co...,"Apr 7, 2024 · 9:04 PM UTC"
99,Well said,"Apr 7, 2024 · 4:33 PM UTC"

In [6]:
import pandas as pd
# Format of the datetime strings
date_format = "%b %d, %Y · %I:%M %p UTC"

# Convert the 'date' column
df1['Date'] = pd.to_datetime(df1['Date'], format=date_format)

# Check the result
print(df1['Date'])

0    2024-04-12 20:22:00
1    2024-04-14 15:42:00
2    2024-04-14 12:04:00
3    2024-04-14 09:04:00
4    2024-04-14 08:12:00
             ...
95   2024-04-07 22:25:00
96   2024-04-07 22:16:00
97   2024-04-07 21:43:00
98   2024-04-07 21:04:00
99   2024-04-07 16:33:00
Name: Date, Length: 100, dtype: datetime64[ns]

In [7]:
# Convert the 'date' column from string to datetime
df1['Date'] = pd.to_datetime(df1['Date'])

# Format the datetime object to 'YYYY-MM-DD' string format
df1['formatted_date'] = df1['Date'].dt.strftime('%Y-%m-%d')

# Display the original and formatted dates

df1['Date'] = df1['formatted_date']

# Optionally, drop the 'formatted_date' column
df1.drop(columns='formatted_date', inplace=True)
df1.drop(columns='Unnamed: 0', inplace=True)

# Display the DataFrame
print(df1)

                                                 Link  \
0   https://twitter.com/elonmusk/status/1778881361...
1   https://twitter.com/elonmusk/status/1779535730...
2   https://twitter.com/elonmusk/status/1779480889...
3   https://twitter.com/elonmusk/status/1779435508...
4   https://twitter.com/elonmusk/status/1779422441...
..                                                ...
95  https://twitter.com/elonmusk/status/1777100344...
96  https://twitter.com/SpaceX/status/177709821367...
97  https://twitter.com/elonmusk/status/1777089879...
98  https://twitter.com/elonmusk/status/1777080103...
99  https://twitter.com/elonmusk/status/1777011744...

                                                 Text        Date   Likes  \
0          Supervised full self-driving now $99/month  2024-04-12   55501
1                                                 NaN  2024-04-14  212175
2                                                   🤔  2024-04-14  307993
3   The refreshing breeze of the Overton window op...  2024-04-14   68232
4                                                 NaN  2024-04-14  121904
..                                                ...         ...     ...
95                           Using a VPN is very easy  2024-04-07  161635
96  T-1 hour until Falcon 9’s launch of the Bandwa...  2024-04-07   14059
97  To ensure that you can still access the 𝕏 plat...  2024-04-07  185577
98  These are the most draconian demands of any co...  2024-04-07  139731
99                                          Well said  2024-04-07  126342

    Comment
0      7981
1      6536
2     15783
3      4452
4      5636
..      ...
95     8206
96      792
97    15515
98     6988
99     6067

[100 rows x 5 columns]

In [8]:
df1['Text'] = df1['Text'].fillna('').astype(str)

In [25]:
df1_agg = df1.groupby('Date')['Text'].agg(' '.join).reset_index()

In [86]:
# pickle.dump([df1, df2, df3, final_df], open('test_data.p', 'wb'))

In [2]:
import pickle
dfs = pickle.load(open('test_data.p', 'rb'))

In [3]:
dfs[3]

,Close_x,Close_y,Text
Date,,,
2020-01-02,28.684000,35.939999,
2020-01-03,29.534000,36.093334,
2020-01-06,30.102667,36.070000,
2020-01-07,31.270666,35.473331,
2020-01-08,32.809334,35.276669,
...,...,...,...
2024-04-08,172.979996,62.139999,"During today’s solar eclipse, >10 Megapack sit..."
2024-04-09,176.880005,63.560001,Reliable high-speed internet for space station...
2024-04-10,171.759995,63.009998,Shutdown of a Raptor vacuum engine in slow mot...
2024-04-11,174.600006,63.060001,One of the few companies I don't mind getting ...
2024-04-12,171.050003,61.520000,Supervised full self-driving now $99/month We ...

In [26]:
# Convert 'Date' column in df2 to datetime
df1_agg['Date'] = pd.to_datetime(df1_agg['Date'])

# Merge df1 and df2
final_df = pd.merge(merged_df[['Close_x','Close_y']], df1_agg[['Text','Date']], how='left', left_index=True, right_on='Date');
final_df

# Fill NaN values in merged_df with 0 (for missing sporadic data)
final_df.fillna('', inplace=True)

# Set 'Date' column as index again
final_df.set_index('Date', inplace=True)
final_df

,Close_x,Close_y,Text
Date,,,
2020-01-02,28.684000,35.939999,
2020-01-03,29.534000,36.093334,
2020-01-06,30.102667,36.070000,
2020-01-07,31.270666,35.473331,
2020-01-08,32.809334,35.276669,
...,...,...,...
2024-04-08,172.979996,62.139999,"During today’s solar eclipse, >10 Megapack sit..."
2024-04-09,176.880005,63.560001,Reliable high-speed internet for space station...
2024-04-10,171.759995,63.009998,Shutdown of a Raptor vacuum engine in slow mot...
2024-04-11,174.600006,63.060001,One of the few companies I don't mind getting ...
2024-04-12,171.050003,61.520000,Supervised full self-driving now $99/month We ...

## Load BERT embedder

In [4]:
# from transformers import BertTokenizer, BertModel
# tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
# embedder = BertModel.from_pretrained('bert-base-uncased')

from transformers import LongformerModel, AutoTokenizer
import torch

tokenizer = AutoTokenizer.from_pretrained("allenai/longformer-base-4096")
embedder = LongformerModel.from_pretrained("allenai/longformer-base-4096")
max_token_n = 4096

# test model
text = 'TWEETS' * 1000
encoded_input = tokenizer(text, return_tensors='pt')
print(encoded_input.input_ids.shape)
_  = embedder(**encoded_input)
_embedder(**encoded_input)[:-1]

/Users/tamk/opt/anaconda3/envs/llm/lib/python3.8/site-packages/torch/_utils.py:831: UserWarning: TypedStorage is deprecated. It will be removed in the future and UntypedStorage will be the only storage class. This should only matter to you if you are using storages directly.  To access UntypedStorage directly, use tensor.untyped_storage() instead of tensor.storage()
  return self.fget.__get__(instance, owner)()
Input ids are automatically padded from 3002 to 3072 to be a multiple of `config.attention_window`: 512

torch.Size([1, 3002])

NameError: name '_embedder' is not defined

## Dataset generation methods

In [14]:
from sklearn.decomposition import PCA


def embed_by_bert(text):
    _tkn = tokenizer(text, return_tensors='pt') 
    if _tkn.input_ids.shape[-1] >= max_token_n:
        _tkn = _tkn[:,:max_token_n]
    _emb = embedder(**_tkn).last_hidden_state[:,0,:].detach().to(th.float32)
    return _emb

def embed_one_by_one(list_list_texts, text_to_emb_dict, embed_func=None):
    embs = []
    for _i, _txts in enumerate(list_list_texts):
        _embs = []
        for _txt in _txts:
            if _txt in text_to_emb_dict: 
                _emb = text_to_emb_dict.get(_txt)
            else:
                _emb = embed_func(_txt)
                text_to_emb_dict[_txt] = _emb
            _embs.append(_emb)
        embs.append(_embs)
    return embs

def embed_text(dataset, list_list_texts, apply_pca=True):
    unique_embs = dict()
    dataset.unique_embs = unique_embs

    list_list_embs_p_step = embed_one_by_one(list_list_texts, unique_embs, embed_by_bert)
    list_embs_p_company = [th.cat(_embs, dim=0) for _embs in list_list_embs_p_step]
    
    #print(unique_embs)
    
    if apply_pca is not None:
        apply_pca = {} if apply_pca is True else apply_pca
        n_components = apply_pca.get('n_components', 10)
        
        # create concatenated embedding
        unique_embs_txts, unique_embs_vals = list(zip(*unique_embs.items()))
        unique_embs_cat = th.cat(unique_embs_vals, dim=0)
        
        # apply PCA
        n_components = min(n_components, len(unique_embs_txts))
        pca = PCA(n_components=n_components)
        pca.fit(unique_embs_cat.numpy())
        
        #  transform
        unique_embs_pca_cat = th.tensor(pca.transform(unique_embs_cat))
        unique_embs_pca = dict(zip(unique_embs.keys(), th.split(unique_embs_pca_cat, 1)))
        
        #print(unique_embs_pca)
        # recreate datastructure
        list_list_embs_p_step_pca = embed_one_by_one(list_list_texts, unique_embs_pca)
        list_embs_p_company = [th.cat(_embs, dim=0).to(th.float32) for _embs in list_list_embs_p_step_pca]

    return list_embs_p_company

In [15]:

import torch
from torch.utils.data import Dataset, DataLoader
import pickle

class StockDataset(Dataset):
    def __init__(self, data, 
                 input_window=4, output_window=1,
                 use_transformer=False, 
                 input_prices=['Close_x', 'Close_y'], output_prices=['Close_x'], 
                 include_text= False, # or False
                ):
        """
        Args:
        data (filepath of saved path)
        data (list of pd.DataFrame): List of dataframes, each containing columns:
                                          'time', 'stock price', 'stock index price', 'text message'
        input_window (int): Number of timesteps in each input sequence.
        output_window (int): Number of timesteps in each target sequence.
        
        """
        
        self.sequences = []
        
        if use_transformer:
            output_window = 1
        
        if isinstance(data, str) and os.path.exists(data):
            self.sequences, self.unique_embs = pickle.load(open(data, 'rb'))
        else:
            self.input_window = input_window
            self.output_window = output_window
        
            if include_text:
                all_texts = [_df[include_text].values.tolist() for _df in data]
                list_embs_p_company = self.embed_text(all_texts)

            for _i_df, df in enumerate(data):
                t = df[input_prices].shape[0]
                seq_in = th.tensor(df[input_prices].values).reshape(t,-1).to(th.float32)
                seq_tgt = th.tensor(df[output_prices].values).reshape(t,-1).to(th.float32)
                if include_text:
                    embs = list_embs_p_company[_i_df]

                num_sequences = t - self.input_window - self.output_window + 1

                for i in range(num_sequences):
                    input_start = i
                    input_end = i + self.input_window
                    
                    if use_transformer:
                        target_start = 1
                        target_end = 1 + self.input_window
                    else:
                        target_start = input_end
                        target_end = target_start + self.output_window

                    seq_in_ = [seq_in[input_start:input_end]]
                    if include_text:
                        seq_in_.append(embs[input_start:input_end])

                    seq_in_ = th.cat(seq_in_, dim=1)
                    seq_tgt_ = seq_tgt[target_start:target_end]
                    self.sequences.append((seq_in_, seq_tgt_))


    def embed_text(self, list_list_texts):
        return embed_text(self, list_list_texts)
    
    def save_dataset(self, filepath):
        pickle.dump([self.sequences, self.unique_embs], open(filepath, 'wb'))
        
    def __len__(self):
        return len(self.sequences)

    def __getitem__(self, idx):
        input_sequence, target_sequence = self.sequences[idx]
        return input_sequence, target_sequence
    
    @property
    def input_dim(self):
        return self.sequences[0][0].shape[-1]
    @property
    def output_dim(self):
        return self.sequences[0][1].shape[-1]

# Data

In [126]:
# pickle.dump(DATA, open(FILEPATH, 'wb'))

In [127]:
# DATA = pickle.load(open(FILEPATH, 'rb'))

## Important parameters

In [26]:
input_window = seq_length = 10  # e.g., 5 days input
output_window = 1  # e.g., 2 days to predict

## Fake Data

In [9]:
# Example fake data generation


np.random.seed(42)
data_length = 10
df1 = pd.DataFrame({
    'time': pd.date_range(start='1/1/2020', periods=data_length, freq='D'),
    'price_main': np.random.rand(data_length) * 100,
    'price_sec': np.random.rand(data_length) * 1000,
    'text': np.random.choice(['news', '', 'alert', 'none'], data_length)
})

df2 = pd.DataFrame({
    'time': pd.date_range(start='1/1/2020', periods=data_length, freq='D'),
    'price_main': np.random.rand(data_length) * 100,
    'price_sec': np.random.rand(data_length) * 1000,
    'text': np.random.choice(['announcement', 'report', 'alert', 'none'], data_length)
})

dataframes = [df1, df2]

## RealData

In [6]:
price_main = final_df['Close_x'].values
final_df['Close_x'] = ((price_main - price_main.min()) / (price_main.max() - price_main.min()))

NameError: name 'final_df' is not defined

In [32]:
price_sec = final_df['Close_y'].values
final_df['Close_y'] = ((price_sec - price_sec.min()) / (price_sec.max() - price_sec.min()))

In [33]:
price_main

array([ 28.68400002,  29.5340004 ,  30.10266685, ..., 171.75999451,
       174.6000061 , 171.05000305])

In [35]:
price_sec

array([35.93999863, 36.0933342 , 36.06999969, ..., 63.00999832,
       63.06000137, 61.52000046])

* you will need to replace this with your own data
* each df relates to a company
* additionally, normalise your company's price data from 0 to 1
* the stock prices should be normalised the same way across all companies
* here 'price_main' and 'price_sec' represents 'stock' and 'stock index'

## Make dataset

* the dataset generator can be used to make data for different model architecture...
* you can have it predict from stock and index price, and output in stock price... you can also include index price in the output... adjust the output_prices accordingly

In [17]:
input_prices = ['Close_x']
output_prices = ['Close_x']
text_column = 'Text'
dataset = StockDataset([dfs[3]], 
                       input_window, output_window, 
                       input_prices=input_prices, output_prices=output_prices, include_text=text_column,
                       use_transformer=True)

Input ids are automatically padded from 2 to 512 to be a multiple of `config.attention_window`: 512
Input ids are automatically padded from 40 to 512 to be a multiple of `config.attention_window`: 512
Input ids are automatically padded from 327 to 512 to be a multiple of `config.attention_window`: 512
Input ids are automatically padded from 2041 to 2048 to be a multiple of `config.attention_window`: 512
Input ids are automatically padded from 217 to 512 to be a multiple of `config.attention_window`: 512
Input ids are automatically padded from 274 to 512 to be a multiple of `config.attention_window`: 512
Input ids are automatically padded from 480 to 512 to be a multiple of `config.attention_window`: 512

In [22]:
len(dataset.unique_embs)

7

In [42]:
dataset = StockDataset(dataframes, 
                       input_window, output_window, 
                       input_prices=input_prices, output_prices=output_prices, include_text=False,
                       use_transformer=True)

NameError: name 'dataframes' is not defined

In [44]:
    # dataset.save_dataset('test.p')

In [45]:
# dataset = StockDataset('test.p')

# TRANSFORMER ARCHITECTURE

In [11]:
import torch
import torch.nn as nn
import numpy as np

class TimeSeriesTransformer(nn.Module):
    def __init__(self, input_dim, output_dim, d_model, nhead, num_encoder_layers, dim_feedforward, dropout=0.1):
        super(TimeSeriesTransformer, self).__init__()
        self.input_linear = nn.Linear(input_dim, d_model)
        self.pos_encoder = PositionalEncoding(d_model, dropout)
        encoder_layers = nn.TransformerEncoderLayer(d_model, nhead, dim_feedforward, dropout)
        self.transformer_encoder = nn.TransformerEncoder(encoder_layers, num_encoder_layers)
        self.output_linear = nn.Linear(d_model, output_dim)

    def forward(self, src):
        #print(src.dtype)
        src = self.input_linear(src)  # [seq_len, batch_size, d_model]
        src = self.pos_encoder(src)
        output = self.transformer_encoder(src)
        output = self.output_linear(output)
        return output

class PositionalEncoding(nn.Module):
    def __init__(self, d_model, dropout=0.1, max_len=5000):
        super(PositionalEncoding, self).__init__()
        self.dropout = nn.Dropout(p=dropout)

        position = torch.arange(max_len).unsqueeze(1)
        div_term = torch.exp(torch.arange(0, d_model, 2) * -(np.log(10000.0) / d_model))
        pe = torch.zeros(max_len, 1, d_model)
        pe[:, 0, 0::2] = torch.sin(position * div_term)
        pe[:, 0, 1::2] = torch.cos(position * div_term)
        self.register_buffer('pe', pe)

    def forward(self, x):
        x = x + self.pe[:x.size(0)]
        return self.dropout(x)

## Crucial model parameters

In [18]:
dataset.output_dim

1

In [23]:
# Parameters
input_dim = dataset.input_dim # dim_1
output_dim = dataset.output_dim   # dim_2
d_model = 256  # Size of the embedding
nhead = 8
num_encoder_layers = 6
dim_feedforward = 512
batch_size = 32

### Create fake model & data to test

In [27]:
# Model
model_ = TimeSeriesTransformer(input_dim, output_dim, d_model, nhead, num_encoder_layers, dim_feedforward)

# Dummy data
input_data = torch.randn(seq_length, batch_size, input_dim)  # [seq_length, batch_size, input_dim]
target_data = torch.randn(seq_length, batch_size, output_dim)  # [seq_length, batch_size, output_dim]

# Forward pass
input_data = dataset[0][0]
output = model_(input_data)
print(input_data.shape, output.shape)  # Should be torch.Size([seq_length, batch_size, output_dim])

torch.Size([10, 8]) torch.Size([10, 10, 1])

# Training

In [28]:
train_test_split_ratio = 0.9
batch_size = 4   # make bigger
learning_rate = 0.001
epochs = 10

In [29]:
# Spliting dataset

from torch.utils.data import DataLoader, random_split

train_size = int(len(dataset) * train_test_split_ratio)
test_size = len(dataset) - train_size
train_dataset, test_dataset = random_split(dataset, [train_size, test_size])

train_dataloader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_dataloader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

In [30]:
# Model
model = TimeSeriesTransformer(input_dim, output_dim, d_model, 
                              nhead, num_encoder_layers, dim_feedforward)
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

In [31]:
criterion = nn.MSELoss()

In [32]:

# Training and Testing Loop
model.train()
for epoch in range(epochs):
    total_train_loss = 0
    
    for batch, (src, tgt) in enumerate(train_dataloader):
        optimizer.zero_grad()
        output = model(src)
        loss = criterion(output, tgt)
        loss.backward()
        optimizer.step()
    total_train_loss += loss.detach().item()
    
    total_test_loss = 0
    model.eval()
    with torch.no_grad():
        for src, tgt in test_dataloader:
            output = model(src)
            loss = criterion(output, tgt)
            total_test_loss += loss.item()

    print(f"Epoch {epoch+1}, Training Loss: {total_train_loss/len(train_dataloader)}, Testing Loss: {total_test_loss/len(test_dataloader)}")

Epoch 1, Training Loss: 93.29218477904797, Testing Loss: 4.1651168929206
Epoch 2, Training Loss: 4.095358773072561, Testing Loss: 4.093663074352123
Epoch 3, Training Loss: 4.093760361274083, Testing Loss: 4.0930511863143355
Epoch 4, Training Loss: 4.094056657950083, Testing Loss: 4.092964578557898
Epoch 5, Training Loss: 4.111930701136589, Testing Loss: 4.093897219057436
Epoch 6, Training Loss: 4.093895041942597, Testing Loss: 4.093894799550374
Epoch 7, Training Loss: 4.095431031783422, Testing Loss: 4.093894658265291
Epoch 8, Training Loss: 4.093895397583643, Testing Loss: 4.0938953117088035
Epoch 9, Training Loss: 4.093895041942597, Testing Loss: 4.093895205744991
Epoch 10, Training Loss: 4.093894942601522, Testing Loss: 4.093894799550374

NameError: name 'tensor' is not defined