In [16]:
import os
import torch
th = torch
import numpy as np
import pandas as pd
import yfinance as yf
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

In [17]:
import pandas as pd
import numpy as np

import yfinance as yf
import pandas as pd
from datetime import datetime

# Define the start and end dates
start_date = datetime(2020, 1, 1)
end_date = datetime(2024, 4, 15)

# List of ticker symbols and their corresponding company names
companies = {
    'TSLA': 'tesla',
    'AAPL': 'apple',
    '^DJI': 'dow_jones',
    '^IXIC': 'nasdaq_composite',
    '^GSPC': 'sp_500'
}

# Download stock data for each company
stock_data_frames = []
for ticker, name in companies.items():
    df = yf.download(ticker, start=start_date, end=end_date)
    df = df[['Close']]  # Keep only the 'Close' column
    df.rename(columns={'Close': f'close_{name}'}, inplace=True)
    stock_data_frames.append(df)

# Merge all data frames on the Date index
merged_df = stock_data_frames[0]
for df in stock_data_frames[1:]:
    merged_df = merged_df.join(df, how='outer')

# Display the merged DataFrame
print(merged_df.head())

scaler = MinMaxScaler()

# Scale the data
scaled_data = scaler.fit_transform(merged_df)
scaled_df = pd.DataFrame(scaled_data, columns=merged_df.columns, index=merged_df.index)

# Display the scaled DataFrame
print(scaled_df.head())

[*********************100%%**********************]  1 of 1 completed
/var/folders/f0/ckkb_ykj483d49h__2mxzsk00000gn/T/ipykernel_13633/1812772017.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Close': f'close_{name}'}, inplace=True)
[*********************100%%**********************]  1 of 1 completed
/var/folders/f0/ckkb_ykj483d49h__2mxzsk00000gn/T/ipykernel_13633/1812772017.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Close': f'close_{name}'}, inplace=True)
[*********************100%%**********************]  1 of 1 completed
/var/folders/f0/ckkb_ykj483d49h__2mxzsk00000gn/T/ipykernel_13633/1812772017.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Close': f'close_{name}'}, inplace=True)
[*********************100%%**********************]  1 of 1 completed
/var/folders/f0/ckkb_ykj483d49h__2mxzsk00000gn/T/ipykernel_13633/1812772017.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Close': f'close_{name}'}, inplace=True)
[*********************100%%**********************]  1 of 1 completed

            close_tesla  close_apple  close_dow_jones  close_nasdaq_composite  \
Date
2020-01-02    28.684000    75.087502     28868.800781             9092.190430
2020-01-03    29.534000    74.357498     28634.880859             9020.769531
2020-01-06    30.102667    74.949997     28703.380859             9071.469727
2020-01-07    31.270666    74.597504     28583.679688             9068.580078
2020-01-08    32.809334    75.797501     28745.089844             9129.240234

            close_sp_500
Date
2020-01-02   3257.850098
2020-01-03   3234.850098
2020-01-06   3246.280029
2020-01-07   3237.179932
2020-01-08   3253.050049
            close_tesla  close_apple  close_dow_jones  close_nasdaq_composite  \
Date
2020-01-02     0.011927     0.133751         0.484405                0.232898
2020-01-03     0.014130     0.128611         0.473379                0.225444
2020-01-06     0.015604     0.132783         0.476608                0.230736
2020-01-07     0.018631     0.130301         0.470966                0.230434
2020-01-08     0.022618     0.138751         0.478574                0.236765

            close_sp_500
Date
2020-01-02      0.338239
2020-01-03      0.330615
2020-01-06      0.334404
2020-01-07      0.331388
2020-01-08      0.336648

/var/folders/f0/ckkb_ykj483d49h__2mxzsk00000gn/T/ipykernel_13633/1812772017.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Close': f'close_{name}'}, inplace=True)

In [6]:
companies=['close_tesla', 'close_apple'] 
dfs=[scaled_df[[_name] + ['close_nasdaq_composite', 'close_sp_500', 'close_dow_jones']].copy() for _name in companies]
dfs={_name.split('close_')[1]: _df.rename(columns={_name:'close'}) for _df, _name in zip(dfs, companies)}

import pickle
pickle.dump(dfs, open('apple_vs_tesla_windex.pkl', 'wb'))

In [7]:
dfs

{'tesla':                close  close_nasdaq_composite  close_sp_500  close_dow_jones
 Date
 2020-01-02  0.011927                0.232898      0.338239         0.484405
 2020-01-03  0.014130                0.225444      0.330615         0.473379
 2020-01-06  0.015604                0.230736      0.334404         0.476608
 2020-01-07  0.018631                0.230434      0.331388         0.470966
 2020-01-08  0.022618                0.236765      0.336648         0.478574
 ...              ...                     ...           ...              ...
 2024-04-08  0.385859                0.980354      0.982777         0.956891
 2024-04-09  0.395966                0.985852      0.985270         0.956461
 2024-04-10  0.382698                0.971629      0.968939         0.936562
 2024-04-11  0.390057                1.000000      0.981674         0.936448
 2024-04-12  0.380858                0.972122      0.956599         0.914019

 [1077 rows x 4 columns],
 'apple':                close  close_nasdaq_composite  close_sp_500  close_dow_jones
 Date
 2020-01-02  0.133751                0.232898      0.338239         0.484405
 2020-01-03  0.128611                0.225444      0.330615         0.473379
 2020-01-06  0.132783                0.230736      0.334404         0.476608
 2020-01-07  0.130301                0.230434      0.331388         0.470966
 2020-01-08  0.138751                0.236765      0.336648         0.478574
 ...              ...                     ...           ...              ...
 2024-04-08  0.791152                0.980354      0.982777         0.956891
 2024-04-09  0.799743                0.985852      0.985270         0.956461
 2024-04-10  0.786435                0.971629      0.968939         0.936562
 2024-04-11  0.837555                1.000000      0.981674         0.936448
 2024-04-12  0.848188                0.972122      0.956599         0.914019

 [1077 rows x 4 columns]}

In [8]:
import pandas as pd
import numpy as np

import yfinance as yf
import pandas as pd
from datetime import datetime

# Define the start and end dates
start_date = datetime(2020, 1, 1)
end_date = datetime(2024, 4, 15)

# List of ticker symbols and their corresponding company names
companies = {
    'TSLA': 'tesla',
    'AAPL': 'apple',
}

# Download stock data for each company
stock_data_frames = []
for ticker, name in companies.items():
    df = yf.download(ticker, start=start_date, end=end_date)
    df = df[['Close']]  # Keep only the 'Close' column
    df.rename(columns={'Close': f'close_{name}'}, inplace=True)
    stock_data_frames.append(df)

# Merge all data frames on the Date index
merged_df = stock_data_frames[0]
for df in stock_data_frames[1:]:
    merged_df = merged_df.join(df, how='outer')

# Display the merged DataFrame
print(merged_df.head())

scaler = MinMaxScaler()

# Scale the data
scaled_data = scaler.fit_transform(merged_df)
scaled_df = pd.DataFrame(scaled_data, columns=merged_df.columns, index=merged_df.index)

# Display the scaled DataFrame
print(scaled_df.head())

[*********************100%%**********************]  1 of 1 completed
/var/folders/f0/ckkb_ykj483d49h__2mxzsk00000gn/T/ipykernel_2012/3281780412.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Close': f'close_{name}'}, inplace=True)
[*********************100%%**********************]  1 of 1 completed

            close_tesla  close_apple
Date
2020-01-02    28.684000    75.087502
2020-01-03    29.534000    74.357498
2020-01-06    30.102667    74.949997
2020-01-07    31.270666    74.597504
2020-01-08    32.809334    75.797501
            close_tesla  close_apple
Date
2020-01-02     0.011927     0.133751
2020-01-03     0.014130     0.128611
2020-01-06     0.015604     0.132783
2020-01-07     0.018631     0.130301
2020-01-08     0.022618     0.138751

/var/folders/f0/ckkb_ykj483d49h__2mxzsk00000gn/T/ipykernel_2012/3281780412.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Close': f'close_{name}'}, inplace=True)

In [29]:
import pandas as pd
FILEPATH = '/Users/Shared/tweets/elon_tweet.csv'
df1 = pd.read_csv(FILEPATH)
print(df1.columns)

Index(['Date', 'Tweet_elon'], dtype='object')

In [30]:
import pandas as pd
FILEPATH = '/Users/Shared/tweets/tim_tweets.csv'
df2 = pd.read_csv(FILEPATH)
print(df1.columns)

Index(['Date', 'Tweet_elon'], dtype='object')

In [9]:
#companies=['close_tesla', 'close_apple'] 
#dfs=[scaled_df[[_name]].copy() for _name in companies]
#dfs={_name.split('close_')[1]: _df.rename(columns={_name:'close'}) for _df, _name in zip(dfs, companies)}

#import pickle
#pickle.dump(dfs, open('apple_vs_tesla_stockonly.pkl', 'wb'))

In [10]:
#dfs

{'tesla':                close
 Date
 2020-01-02  0.011927
 2020-01-03  0.014130
 2020-01-06  0.015604
 2020-01-07  0.018631
 2020-01-08  0.022618
 ...              ...
 2024-04-08  0.385859
 2024-04-09  0.395966
 2024-04-10  0.382698
 2024-04-11  0.390057
 2024-04-12  0.380858

 [1077 rows x 1 columns],
 'apple':                close
 Date
 2020-01-02  0.133751
 2020-01-03  0.128611
 2020-01-06  0.132783
 2020-01-07  0.130301
 2020-01-08  0.138751
 ...              ...
 2024-04-08  0.791152
 2024-04-09  0.799743
 2024-04-10  0.786435
 2024-04-11  0.837555
 2024-04-12  0.848188

 [1077 rows x 1 columns]}

In [31]:
df1

,Date,Tweet_elon
0,2024-04-15 20:34:02+00:00,Interesting series about a potentially good fu...
1,2024-04-15 19:34:09+00:00,United States laws prevent ùïè from participatin...
2,2024-04-15 18:34:59+00:00,Interesting https://t.co/hQJTsYDx5v
3,2024-04-15 18:34:21+00:00,"If you‚Äôre experiencing severe neck/back pain, ..."
4,2024-04-15 17:50:59+00:00,https://t.co/wXlbpNU97H
...,...,...
9437,2020-01-04 03:33:58+00:00,@hot_rod_co @Tesla People talk about the produ...
9438,2020-01-04 03:25:03+00:00,"@slashdot Wow, I built my first server room wi..."
9439,2020-01-01 06:50:06+00:00,Congratulations Tesla &amp; SpaceX on great 20...
9440,2020-01-01 06:33:47+00:00,No one suspected his disguise https://t.co/yHl...
9441,2020-01-01 05:32:58+00:00,Carlos Gone

In [32]:
import pandas as pd

# Convert the 'date' column to datetime
df1['Date'] = pd.to_datetime(df1['Date']).dt.date
df2['Date'] = pd.to_datetime(df2['Date']).dt.date

# Display the modified DataFrames
print(df1)
print(df2)

            Date                                         Tweet_elon
0     2024-04-15  Interesting series about a potentially good fu...
1     2024-04-15  United States laws prevent ùïè from participatin...
2     2024-04-15                Interesting https://t.co/hQJTsYDx5v
3     2024-04-15  If you‚Äôre experiencing severe neck/back pain, ...
4     2024-04-15                            https://t.co/wXlbpNU97H
...          ...                                                ...
9437  2020-01-04  @hot_rod_co @Tesla People talk about the produ...
9438  2020-01-04  @slashdot Wow, I built my first server room wi...
9439  2020-01-01  Congratulations Tesla &amp; SpaceX on great 20...
9440  2020-01-01  No one suspected his disguise https://t.co/yHl...
9441  2020-01-01                                        Carlos Gone

[9442 rows x 2 columns]
           Date                                          Tweet_tim
0    2024-04-15  Thanks to the very talented VietMax for showin...
1    2024-04-15  Developers CollaNote &amp; ELSA Speak walked m...
2    2024-04-15  Phuong Vu and his team are wildly creative. Th...
3    2024-04-15  Hoan Kiem Lake in Hanoi is as beautiful as it ...
4    2024-04-15  Xin ch√†o, Vietnam! Thank you to the very talen...
..          ...                                                ...
667  2020-01-18  Glad to support the essential work of our frie...
668  2020-01-17  There are countless ways to make a difference....
669  2020-01-13  ‚ÄúThe Ultra Wide camera brings a whole new expe...
670  2020-01-06  Congratulations to all of tonight‚Äôs @GoldenGlo...
671  2020-01-01  There is opportunity in every new beginning. I...

[672 rows x 2 columns]

In [33]:
df1 = df1.groupby('Date')['Tweet_elon'].agg(' '.join).reset_index()

print(df1)

           Date                                         Tweet_elon
0    2020-01-01  Congratulations Tesla &amp; SpaceX on great 20...
1    2020-01-04  @annerajb @slashdot Zip2 @hot_rod_co @Tesla Pe...
2    2020-01-05  @7400N @Model3Owners Ok @APompliano @Tesla Fai...
3    2020-01-06  @flcnhvy @slashdot ü§£ü§£ @slashdot The Nirvana ba...
4    2020-01-07  @BnOrdhaug @Erdayastronaut I haven‚Äôt cross-che...
..          ...                                                ...
682  2024-04-11  Community Notes will now show faster https://t...
683  2024-04-12  Thank you DoubleVerify for correcting your mis...
684  2024-04-13  Always wondered what that chair was for https:...
685  2024-04-14  Create or join ùïè Communities! https://t.co/TKU...
686  2024-04-15  Interesting series about a potentially good fu...

[687 rows x 2 columns]

In [34]:
df2 = df2.groupby('Date')['Tweet_tim'].agg(' '.join).reset_index()

print(df2)

           Date                                          Tweet_tim
0    2020-01-01  There is opportunity in every new beginning. I...
1    2020-01-06  Congratulations to all of tonight‚Äôs @GoldenGlo...
2    2020-01-13  ‚ÄúThe Ultra Wide camera brings a whole new expe...
3    2020-01-17  There are countless ways to make a difference....
4    2020-01-18  When you add up every ambitious dreamer, every...
..          ...                                                ...
491  2024-03-17  Congratulations!! @coachbrucepearl @AuburnMBB ...
492  2024-03-25  Happy Holi to all who celebrate! Thank you @jo...
493  2024-03-31  Today and every day, let's commit to creating ...
494  2024-04-09  Leading companies in every industry are levera...
495  2024-04-15  Thanks to the very talented VietMax for showin...

[496 rows x 2 columns]

In [36]:
import pandas as pd

# Assuming df1, df2, and scaled_df are already defined and loaded

# Convert 'Date' column in df1 and df2 to datetime
df1['Date'] = pd.to_datetime(df1['Date'])
df2['Date'] = pd.to_datetime(df2['Date'])

# If scaled_df has a 'Date' column, ensure it is a datetime type
# If it's using date as an index and the index is not already datetime, convert it:
# scaled_df.index = pd.to_datetime(scaled_df.index)

# First, merge df1 with scaled_df
# Adjust 'on' or 'left_index=True, right_on='Date'' based on the structure of scaled_df
if 'Date' in scaled_df.columns:
    merged_df1_scaled = pd.merge(scaled_df, df1, on='Date', how='left')
else:
    # Assuming the index of scaled_df is date-based
    merged_df1_scaled = pd.merge(scaled_df, df1, left_index=True, right_on='Date', how='left')

# Now merge the result with df2
final_merged_df = pd.merge(merged_df1_scaled, df2, on='Date', how='left')

# Fill NaN values in final_merged_df with empty strings, if needed
final_merged_df.fillna('', inplace=True)

# Optionally, set 'Date' as the index of the final DataFrame
final_merged_df.set_index('Date', inplace=True)

# Print the final merged DataFrame
print(final_merged_df)

            close_tesla  close_apple  close_dow_jones  close_nasdaq_composite  \
Date
2020-01-02     0.011927     0.133751         0.484405                0.232898
2020-01-03     0.014130     0.128611         0.473379                0.225444
2020-01-06     0.015604     0.132783         0.476608                0.230736
2020-01-07     0.018631     0.130301         0.470966                0.230434
2020-01-08     0.022618     0.138751         0.478574                0.236765
...                 ...          ...              ...                     ...
2024-04-08     0.385859     0.791152         0.956891                0.980354
2024-04-09     0.395966     0.799743         0.956461                0.985852
2024-04-10     0.382698     0.786435         0.936562                0.971629
2024-04-11     0.390057     0.837555         0.936448                1.000000
2024-04-12     0.380858     0.848188         0.914019                0.972122

            close_sp_500                                         Tweet_elon  \
Date
2020-01-02      0.338239
2020-01-03      0.330615
2020-01-06      0.334404  @flcnhvy @slashdot ü§£ü§£ @slashdot The Nirvana ba...
2020-01-07      0.331388  @BnOrdhaug @Erdayastronaut I haven‚Äôt cross-che...
2020-01-08      0.336648  @nichegamer King of the Goblins,\nMaster of th...
...                  ...                                                ...
2024-04-08      0.982777  https://t.co/gKoHxYpHPC The AI compute growth ...
2024-04-09      0.985270  Accurate https://t.co/Oen5ct1aNB Much apprecia...
2024-04-10      0.968939  ùïè algorithm update coming soon with more bange...
2024-04-11      0.981674  Community Notes will now show faster https://t...
2024-04-12      0.956599  Thank you DoubleVerify for correcting your mis...

                                                    Tweet_tim
Date
2020-01-02
2020-01-03
2020-01-06  Congratulations to all of tonight‚Äôs @GoldenGlo...
2020-01-07
2020-01-08
...                                                       ...
2024-04-08
2024-04-09  Leading companies in every industry are levera...
2024-04-10
2024-04-11
2024-04-12

[1077 rows x 7 columns]

In [37]:
import pickle

# Assuming 'final_merged_df' is your DataFrame containing all the necessary data
companies = ['close_tesla', 'close_apple']
tweets = ['Tweet_elon', 'Tweet_tim']  # Corresponding tweet columns

# Create a list of DataFrames, each containing the data for one company and relevant indices
dfs = [
    final_merged_df[[company] + ['close_nasdaq_composite', 'close_sp_500', 'close_dow_jones', tweet]].copy()
    for company, tweet in zip(companies, tweets)
]

# Create a dictionary where the keys are company names without the 'close_' prefix
# and the values are the corresponding DataFrames with renamed columns to generalize 'close'
dfs = {
    company.split('close_')[1]: df.rename(columns={company: 'close', tweet: 'tweet'})
    for df, company, tweet in zip(dfs, companies, tweets)
}
print(dfs)
# Save the dictionary of DataFrames to a pickle file
pickle.dump(dfs, open('real_companies_data.pkl', 'wb'))

{'tesla':                close  close_nasdaq_composite  close_sp_500  close_dow_jones  \
Date
2020-01-02  0.011927                0.232898      0.338239         0.484405
2020-01-03  0.014130                0.225444      0.330615         0.473379
2020-01-06  0.015604                0.230736      0.334404         0.476608
2020-01-07  0.018631                0.230434      0.331388         0.470966
2020-01-08  0.022618                0.236765      0.336648         0.478574
...              ...                     ...           ...              ...
2024-04-08  0.385859                0.980354      0.982777         0.956891
2024-04-09  0.395966                0.985852      0.985270         0.956461
2024-04-10  0.382698                0.971629      0.968939         0.936562
2024-04-11  0.390057                1.000000      0.981674         0.936448
2024-04-12  0.380858                0.972122      0.956599         0.914019

                                                        tweet
Date
2020-01-02
2020-01-03
2020-01-06  @flcnhvy @slashdot ü§£ü§£ @slashdot The Nirvana ba...
2020-01-07  @BnOrdhaug @Erdayastronaut I haven‚Äôt cross-che...
2020-01-08  @nichegamer King of the Goblins,\nMaster of th...
...                                                       ...
2024-04-08  https://t.co/gKoHxYpHPC The AI compute growth ...
2024-04-09  Accurate https://t.co/Oen5ct1aNB Much apprecia...
2024-04-10  ùïè algorithm update coming soon with more bange...
2024-04-11  Community Notes will now show faster https://t...
2024-04-12  Thank you DoubleVerify for correcting your mis...

[1077 rows x 5 columns], 'apple':                close  close_nasdaq_composite  close_sp_500  close_dow_jones  \
Date
2020-01-02  0.133751                0.232898      0.338239         0.484405
2020-01-03  0.128611                0.225444      0.330615         0.473379
2020-01-06  0.132783                0.230736      0.334404         0.476608
2020-01-07  0.130301                0.230434      0.331388         0.470966
2020-01-08  0.138751                0.236765      0.336648         0.478574
...              ...                     ...           ...              ...
2024-04-08  0.791152                0.980354      0.982777         0.956891
2024-04-09  0.799743                0.985852      0.985270         0.956461
2024-04-10  0.786435                0.971629      0.968939         0.936562
2024-04-11  0.837555                1.000000      0.981674         0.936448
2024-04-12  0.848188                0.972122      0.956599         0.914019

                                                        tweet
Date
2020-01-02
2020-01-03
2020-01-06  Congratulations to all of tonight‚Äôs @GoldenGlo...
2020-01-07
2020-01-08
...                                                       ...
2024-04-08
2024-04-09  Leading companies in every industry are levera...
2024-04-10
2024-04-11
2024-04-12

[1077 rows x 5 columns]}